<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>

    <add key="PastaRaizTOTAL" value="C:\dc\EntradaRAIZ" />
    <add key="pastaEntradaPDF" value="C:\dc\pastaEntradaPDF" />
    <add key="pastaEntradaPDFEmail" value="C:\dc\pastaEntradaPDFEmail" />
    <add key="pastaSaidaRTF" value="C:\dc\EntradaRAIZ\pastaSaidaRTF" />
    <add key="pastaSaidaOcr" value="C:\dc\EntradaRAIZ\pastaSaidaOcr" />
    <add key="SMTP" value="smtp.gmail.com" />
    <add key="USUARIO" value="eduardokm67@gmail.com"/>
    <add key="SENHA" value="Betnovate123@" />
    <add key="Porta" value="587" />
    <add key="pastaEntradaRTF" value="C:\dc\pastaEntradaRTF" />
    <add key="Aspose.Pdf" value="C:\Users\Administrador\Documents\Visual Studio 2015\Projects\TecnoDimOcr\TecnoDimOcr\Aspose\Aspose.Pdf.lic" />
    <add key="Aspose.Words" value="C:\Users\Administrador\Documents\Visual Studio 2015\Projects\TecnoDimOcr\TecnoDimOcr\Aspose\Aspose.Words.lic" />
    <add key="pastaEntradaRTFEmail" value="C:\dc\pastaEntradaRTFEmail" />
    <add key="pastaEntradaTemp" value="C:\Users\Administrador\Desktop\pastaEntradaTemp" />
    <add key="PastaDestinoRaiz" value="C:\Users\Administrador\Desktop\destinoRaiz" />
    <add key="PastaDestinoTemp" value="C:\Users\Administrador\Desktop\PastaDestinoTemp" />
    <add key="PastaDestino" value="C:\Users\Administrador\Desktop\PastaDestino" />
    <add key="PastaDestinoNAOMAPEADO" value="C:\Users\Administrador\Desktop\PastaDestinoNAOMAPEADO" />
  </appSettings>
</configuration>